# -*- mode: gitignore; -*-
*~
Gemfile.lock
\#*\#
.DS_Store
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
logs/*
!.gitkeep
node_modules/
tmp
.idea
.DS_Store
angular-phonecat-snapshots
bower_components/
*.war
log/*
*.log
