<div ng-controller="TabsCtrl">
    <accordion close-others="false">
        <accordion-group is-open="status[pane.name]" ng-init="status[pane.name] = true" ng-repeat="pane in tab.panes" >
            <accordion-heading ng-class="{true: bg-primary};">{{pane.name}}</accordion-heading>
            <!-- start of pane -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-repeat="field in pane.fields1">
                        <label class="col-sm-6 control-label" for="{{tab.id}}.{{field.id}}">{{field.name}}</label>
                        <div class="col-sm-6" ng-switch="input[tab.id][field.id]['type']">
                            <select id="{{tab.id}}.{{field.id}}" class="form-control input-style" ng-model="input[tab.id][field.id]" ng-options="country.alpha as country.name for country in country_codes" ng-switch-when="select">
                                <option value="">-- choose country code --</option>
                            </select>
                            <input ng-class="response && (input[tab.id][field.id] != null) ? 'response' : ''" id="{{tab.id}}.{{field.id}}" class="form-control input-style" required="" ng-model="input[tab.id][field.id]" ng-switch-default>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-repeat="field in pane.fields2">
                        <label class="col-sm-6 control-label" for="{{tab.id}}.{{field.id}}">{{field.name}}</label>
                        <div class="col-sm-6" ng-switch="field.type">
                            <select id="{{tab.id}}.{{field.id}}" class="form-control input-style" ng-model="input[tab.id][field.id]" ng-options="country.alpha as country.name for country in country_codes" ng-switch-when="select">
                                <option value="">-- choose country code --</option>
                            </select>
                            <input ng-class="(response  && (input[tab.id][field.id] != null) ? 'response' : '')" id="{{tab.id}}.{{field.id}}" class="form-control input-style" placeholder="{{field.type}}" required="" ng-model="input[tab.id][field.id]" ng-switch-default>
                        </div>
                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>